body {
    font-family: 'Arial', sans-serif;
    background-color: #0d1b2a;  /* Fundo azul-escuro */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #1b263b;  /* Container com fundo azul mais claro */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    width: 450px;
    text-align: center;
  }
  
  h1 {
    color: #ffc107;  /* Cor dourada, estilo FBI */
    margin-bottom: 25px;
  }
  
  .input-section {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2e3c55;
    color: #fff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #ffc107;  /* Botões dourados */
    color: #0d1b2a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  button:hover {
    background-color: #e0a800;
  }
  
  .progress-container {
    width: 100%;
    background-color: #2e3c55;
    border-radius: 5px;
    margin: 30px 0;
    height: 25px;
  }
  
  #progressBar {
    width: 0;
    height: 100%;
    background-color: #ffc107;
    border-radius: 5px;
    transition: width 0.4s ease;
  }
  
  #result {
    margin-top: 20px;
    color: #fff;
  }
  
  .hidden {
    display: none;
  }
  
  #finalMessage {
    margin-top: 30px;
    color: #fff;
  }
  
  #finalMessage button {
    margin-top: 10px;
  }
  